.app-periodic-table {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.periodic-table {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(32, auto);
  gap: 0.25rem;

  .app-element-cell {
    display: block;
    grid-row: var(--element-period);
    grid-column: var(--element-group);
  }
}